---
layout: archive
---
<p style="font-size:75%;" style="font-family:verdana;">Although I intend use this platform to discuss I/O, statistics, and people analytics  related topics, the primary purpose of this website is to allow visitors an easy way to connect with me.</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
